body{
  font-family: 'Open Sans', sans-serif;
}
.common-bg{
  background-color:rgb(74, 116, 167);
}
.common-bg-Pallette{
  background-color:rgb(102, 151, 216);
}
.banner-container{
  background-color: rgb(144, 185, 240);
}
.banner-column{
  background-color:rgb(74, 116, 167);
}
nav{  
  color:rgb(243, 239, 243);
  font-weight: bold;
}
.dropdown-menu {
  background-color:rgb(144, 185, 240);
  font-weight: bold;
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color:rgb(74, 116, 167);
}
.about-container{
  background-color:rgb(144, 185, 240);
  font-weight: bold;
}

.image-content{
  background-color:rgb(102, 151, 216);
}

.custom-container{
  background-color:rgb(144, 185, 240);
  color:rgb(243, 239, 243);
}

.circle-shape{
  background-color:rgb(243, 239, 243);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* display: inline-block; */
  font-size: 35px;
  text-align: center;
  color:rgb(74, 116, 167);
}

.card-design{
  background-color:rgb(74, 116, 167);
  color:rgb(243, 239, 243);
}
a:link{
  color:white;
}
a:active{
  color:black;
}
a:visited{
  color:purple;
}
a:hover{
  color:rgb(102, 151, 216);
}

.carousel-caption:hover{
  background-color:rgb(74, 116, 167);
}
/* .carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 400px;
} */