body{
  font-family: 'Open Sans', sans-serif;
}

.banner-container{
  background-color: rgb(144, 185, 240);
}
.banner-column{
  background-color:rgb(74, 116, 167);
}
nav{  
  background-color:rgb(74, 116, 167);
  color:rgb(243, 239, 243);
  font-weight: bold;
}
.dropdown-menu {
  background-color:rgb(144, 185, 240);
  font-weight: bold;
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color:rgb(74, 116, 167);
}
.about-container{
  background-color:rgb(144, 185, 240);
  font-weight: bold;
}

.image-content{
  background-color:rgb(74, 116, 167);
}

.education-container{
  background-color:rgb(144, 185, 240);
  color:rgb(243, 239, 243);
}
.circle-shape{
  background-color:rgb(74, 116, 167);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}